###PROTECT FILES###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule projektowanie-stron-internetowych index.html
RewriteRule programista-krzysztof-rytlewski about.html
RewriteRule prosta-technologia technology.html
RewriteRule zrealizowane-projekty projects.html
RewriteRule kontakt-do-mnie contact.html