* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Header with menu */
#logo {
    max-width: 10vh;
    padding-top: 1vh;
    padding-left: 1vw;
    opacity: 0.7;
}
#header {
    background-image: linear-gradient(to right, rgb(95, 130, 160) 10%,cadetblue 50%);
    height: 12vh;
}
nav {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 4vh;
}
nav button{
    background-color: cadetblue;
    font-size: 5vh;
    outline: none;
    position: relative;
    padding: 0vh 3vw;
    color: darkslategray;
}
nav:hover #ddContent {
    display: block;
}
@keyframes menu {
    0% {height: 1px;}
    100% {height: 20px;}
}
#ddContent {
    display: none;
    position: absolute;
    margin-left: -110px;
    font-size: 15px;
    z-index: 1;
}
#ddContent a {
    text-decoration: none;
    display: block;
    width: 140px;
    background-color: rgb(54, 106, 107);
    margin-top: 5px;
    padding: 5px 10px;
    color: beige;
    opacity: 0.9;
    height: 20px;
    animation-name: menu;
    animation-duration: 0.7s;
    font-weight: 600;
    text-shadow: 5px 5px 10px black;
    border-radius: 5px;
    transition: all 1s;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none;
}
#ddContent a:focus {
    transition: all 1s;
    text-shadow: 1px 1px 2px black;
}
#ddContent a:hover {
    color: rgb(170, 220, 225);
    transition: all 1s;
}


/* Open page display */
#sectionTop {
    height: 76vh;
}
#mainDisplay {
    height: 38vh;
    background-image: url(img/web.jpg);
    background-size: 220vw;
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
}
.textDisplay {
    background-color: beige;
    font-size: 2vh;
    height: 28vh;
    opacity: 0.7;
    color: darkblue;
    font-weight: 900;
    line-height: 4vh;
    overflow: hidden;
    white-space: nowrap;
}
.textDisplayTech {
    background-color: beige;
    font-size: 4vh;
    height: 5vh;
    opacity: 0.7;
    color: darkblue;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    padding: 5vh 6vw;
}
#secDisplay {
    height: 38vh;
    background-image: url(img/port.jpg);
    background-size: 180vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
@keyframes textes1 {
    0% {margin-right: 100%; padding: 5vh 0vw;}
    100% {margin-right: 55%; padding: 5vh 5vw;}
}
@keyframes textes2 {
    0% {margin-left: 100%; padding: 5vh 0vw;}
    50% {margin-left: 100%; padding: 5vh 0vw;}
    100% {margin-left: 60%; padding: 5vh 5vw;}
}
#textD1 {
    margin-right: 55%;
    padding: 5vh 5vw;
    animation-name: textes1;
    animation-duration: 2s;
}
#textD2 {
    margin-left: 60%;
    padding: 5vh 5vw;
    animation-name: textes2;
    animation-duration: 2s; 
}
@keyframes textes1html {
    0% {margin-right: 100%; padding: 5vh 0vw;}
    100% {margin-right: 60%; padding: 5vh 6vw;}
}
@keyframes textes1css {
    0% {margin-right: 100%; padding: 5vh 0vw;}
    50% {margin-right: 100%; padding: 5vh 0vw;}
    100% {margin-right: 70%; padding: 5vh 6vw;}
}
@keyframes textes1java {
    0% {margin-right: 100%; padding: 5vh 0vw;}
    66% {margin-right: 100%; padding: 5vh 0vw;}
    100% {margin-right: 80%; padding: 5vh 6vw;}
}
#textD1TechHtml {
    margin-right: 60%;
    animation-name: textes1html;
    animation-duration: 1s;
}
#textD1TechCss {
    margin-right: 70%;
    animation-name: textes1css;
    animation-duration: 2s;
}
#textD1TechJava {
    margin-right: 80%;
    animation-name: textes1java;
    animation-duration: 3s;
}
#sectionFoot {
    height: 12vh;
}
#footDisplay {
    background-image: linear-gradient(cadetblue 30%, lightblue);
    height: 10vh;
    text-align: center;
    padding-top: 2vh;
}
@keyframes arrow {
    0% {color: darkslategray; opacity: 1;}
    79% {color: darkslategray; opacity: 1;}
    80% {color: black; opacity: 1;}
    100% {color: darkslategray; opacity: 1;}
}
#footDisplay a {
    font-size: 7vh;
    color: darkslategray;
    animation-name: arrow;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
    padding: 2vh 30vw;
}
#footDisplay a:hover {
    color: black;
    opacity: 0.9;
}
/* Main content */
main {
    border-top: 0.5vh solid rgb(55, 100, 100);
    border-bottom: 0.5vh solid rgb(55, 100, 100);
    background-color: aliceblue;
    padding: 0 1vw 5vh 1vw;
    }
.mainContact{
    min-height: 60vh;
}    
.mainTech{
    min-height: 28vh;
}    
.favi {
    text-align: center;
    padding: 1vh 1vw;
    color: darkslategray;
    }
main section i {
    font-size: 10vh;
    padding: 5vh 5vw 3vh 5vw;
    color: cadetblue;
    text-shadow: 2px 2px 5px darkslategray;
}
main section p {
    text-align: justify;
    text-indent: 3vh;
    font-size: 2vh;
}
main section h3 {
    margin-bottom: 1vh;
    font-size: 3vh;
}
main section a {
    text-decoration: none;
    color: darkslategray;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none;
}
.center {
    text-align: center;
    text-indent: 0;
    font-size: 2.5vh;
}
/* Footer */
footer {
    background-image: linear-gradient(to right, lightblue, rgb(95, 130, 160) 70%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 2vh;
    text-align: left;
    padding-bottom: 1vh;
    padding-left: 2vw;
    height: 8vh;
}
footer #footContact {
    text-align: right;
    padding-right: 2vw;
    
}
footer a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none;
}

/* Banner on contact*/
.asideContact {
    height: 15vh;
}
#contactDisplay {
    height: 15vh;
    background-image: url(img/keyboard.jpg);
    background-size: 100vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
aside .textDisplay {
    height: 5vh;
}

/* Banners on technology */
#techHtml {
    height: 15vh;
    background-image: url(img/html.jpg);
    background-size: 100vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
#techCss {
    height: 15vh;
    background-image: url(img/css.jpg);
    background-size: 100vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
#techJava {
    height: 15vh;
    background-image: url(img/java.jpg);
    background-size: 100vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}


                    /* Lanscape orientation of Mobile */

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape){
    
    /* Header with menu */
    #header {
        height: 14vh;
    }
    #logo {
        max-width: 12vh;
    }
    nav {
        position: absolute;
        margin-top: -25px;
        text-align: right;
        width: 100vw;
        height: 10px;
    }
    nav button{
        display: none;
    }
    @keyframes menu2 {
        0% {opacity: 0;}
        70% {opacity: 0;}
        100% {opacity: 1;}
    }
    #ddContent {
        position: relative;
        display: inline;
        margin-left: 0px;
        margin-right: 16px;
        animation: menu2 3s;
    }
    #ddContent a {
        display: inline;
        background: none;
        padding: 5px 7px;
        font-size: 2vw;
    }

    /* Open page display */
    #sectionTop {
        height: 72vh;
    }
    .textDisplay {
        font-weight: 700;
        font-size: 3.5vh;
        line-height: 6vh;
        height: 26vh;
    }
    #mainDisplay {
        background-size: 100vw;
        height: 36vh;
    }
    #secDisplay {
        background-size: 100vw;
        height: 36vh;
    }
    #sectionFoot {
        height: 14vh;
    }
    #footDisplay {
        height: 12vh;
    }
    #footDisplay a {
        font-size: 10vh;
        padding: 2vh 30vw 1vh 30vw;
    }
    
    /* Main content */
    .mainContact {
        column-count: 3;
        display: flex;
        min-height: 52vh;
    }
    .favi {
        flex: 1;
    }
    main section i {
        font-size: 8vw;
        padding: 5vw 10vh 3vw 10vh;
    }
    main section p {
        text-indent: 3vw;
        font-size: 2vw;
    }
    main section h3 {
        margin-bottom: 1vw;
        font-size: 2.5vw;
    }

    /* Footer */
    footer {
        font-size: 3vh;
        height: 12vh;
    }
    /* Banner */
    .center {
        font-size: 2vw;
    }
}

                    /* Portrait orientation of Tablet */

@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {

    /* Header with menu */
    #header {
        height: 10vh;
    }
    #logo {
        max-width: 8vh;
    }
    nav {
        position: absolute;
        margin-top: -28px;
        text-align: right;
        width: 100vw;
        height: 10px;
    }
    nav button{
        display: none;
    }
    @keyframes menu2 {
        0% {opacity: 0;}
        70% {opacity: 0;}
        100% {opacity: 1;}
    }
    #ddContent {
        position: relative;
        display: inline;
        margin-left: 0px;
        margin-right: 16px;
        animation: menu2 3s;
    }
    #ddContent a {
        display: inline;
        background: none;
        font-size: 16px;
        padding: 5px 7px;
    }
    
    /* Open page display */
    #sectionTop {
        height: 80vh;
    }
    .textDisplay {
        font-size: 3vh;
        line-height: 6vh;
        height: 30vh;
    }
    #mainDisplay {
        background-size: 170vw;
        height: 40vh;
    }
    #secDisplay {
        background-size: 140vw;
        height: 40vh;
    }
    #sectionFoot {
        height: 10vh;
    }
    #footDisplay {
        height: 8vh;
    }
    #footDisplay a {
        font-size: 6vh;
        padding: 2vh 30vw 1vh 30vw;
    }
}

                    /* Laptop and landscape orientarion of Tablet*/

@media (min-width: 769px) {
    
    /* Header with menu */
    #header {
        height: 10vh;
    }
    #logo {
        max-width: 8vh;
    }
    nav {
        position: absolute;
        margin-top: -30px;
        text-align: right;
        width: 100vw;
        height: 10px;
    }
    nav button{
        display: none;
    }
    @keyframes menu2 {
        0% {opacity: 0;}
        70% {opacity: 0;}
        100% {opacity: 1;}
    }
    #ddContent {
        position: relative;
        display: inline;
        margin-left: 0px;
        margin-right: 18px;
        animation: menu2 3s;
    }
    #ddContent a {
        display: inline;
        background: none;
        font-size: 22px;
        padding: 5px 15px;
    }
    /* Open page display */
    #sectionTop {
        height: 80vh;
    }
    .textDisplay {
        font-size: 3vh;
        line-height: 6vh;
        height: 30vh;
    }
    #mainDisplay {
        background-size: 160vw;
        height: 40vh;
    }
    #secDisplay {
        background-size: 140vw;
        height: 40vh;
    }
    #sectionFoot {
        height: 10vh;
    }
    #footDisplay {
        height: 8vh;
    }
    #footDisplay a {
        font-size: 6vh;
        padding: 2vh 30vw 1vh 30vw;
    }
    
     /* Main content */
    main {
        column-count: 3;
        display: flex;
    }
    .mainTech{
        min-height: 30vh;
    }
    .favi {
        flex: 1;
    }
    main section i {
        font-size: 6vw;
        padding: 2vh 5vw 2vh 5vw;
    }
    main section p {
        font-size: 1.2vw;
    }
    main section h3 {
        font-size: 1.5vw;
    }
    .center {
        font-size: 1.5vw;
    }
    /* Footer */
    footer {
        font-size: 2vh;
        padding-bottom: 1vh;
        height: 8vh;
    }
}